[Desktop Entry]
Type=Application
Exec=/usr/bin/main
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[tr_TR]=/usr/bin/main
Name=/usr/bin/main
Comment[tr_TR]=
Comment=
