[Desktop Entry]
Type=Application
Exec=/usr/bin/main
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=/usr/bin/main
Name=/usr/bin/main
Comment[en_GB]=
Comment=
